---
import Meta from "@/components/Meta.astro";
import PostList from "@/components/PostList.astro";
import Layout from "@/layouts/Layout.astro";
import { getBlogPosts } from "@/lib/collections";

const posts = await getBlogPosts();
---

<Layout>
  <Meta title="Blog" slot="meta" />
  <Fragment slot="content">
    <div class="flow">
      <h1>All posts</h1>
      <PostList posts={posts} />
    </div>
  </Fragment>
</Layout>
