*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  --color-text: light-dark(
    oklch(21% 0.034 264.665),
    oklch(96.7% 0.003 264.542)
  );

  --measure: 70ch;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block: 0;
}

ul[role="list"],
ol[role="list"] {
  padding: 0;
  list-style: none;
}

body {
  min-block-size: 100vh;
  margin: 0;
  color: var(--color-text);
  font-family: system-ui, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

h1 {
  font-size: 1.75rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1rem;
  font-weight: 400;
}

a {
  color: currentColor;
  text-decoration-thickness: from-font;
  text-underline-offset: 0.15em;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  display: block;
  max-inline-size: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea:not([rows]) {
  min-block-size: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

time {
  font-variant-numeric: tabular-nums;
}
