---
import Article from "@/components/Article.astro";
import PostList from "@/components/PostList.astro";
import Layout from "@/layouts/Layout.astro";
import { getBlogPosts } from "@/lib/collections";

const mostRecentPosts = await getBlogPosts(3);
---

<Layout>
  <Fragment slot="content">
    <Article>
      <p>
        Hey! I'm Krzysztof. Welcome to my blog. I'm a fullstack software
        engineer working with TypeScript and Python. You can check out my code
        on <a href="https://github.com/kzuraw">GitHub</a>, or follow me on <a
          href="https://www.linkedin.com/in/kzuraw">LinkedIn</a
        >. When I'm not coding, you'll find me brewing coffee with a V60.
      </p>
    </Article>
    <section class="flow">
      <h2>Most recent 3 posts</h2>
      <PostList posts={mostRecentPosts} />
    </section>
  </Fragment>
</Layout>
