---
import Meta from "@/components/Meta.astro";

import "@/styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <slot name="meta">
      <Meta title="Krzysztof Żuraw" />
    </slot>
  </head>
  <body>
    <header>
      <nav>
        <p>Krzysztof Żuraw</p>
        <ul role="list">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/blog">Blog</a>
          </li>
          <li>
            <a href="/rss.xml">RSS</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="flow">
      <slot name="content" />
    </main>
  </body>
</html>

<style>
  header,
  main {
    max-inline-size: var(--measure);
    margin-inline: auto;
    padding-inline: 1.5rem;
  }

  header {
    padding-block-start: 4rem;
    margin-block-end: 3rem;
  }

  main {
    padding-block-end: 4rem;
    --flow-space: 3rem;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    gap: 1rem 1.5rem;
  }

  nav p {
    font-size: 1.5rem;
    font-weight: 600;
  }

  nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem 1.5rem;
    margin: 0;
  }

  nav a {
    text-decoration-line: none;
  }

  nav a:hover {
    text-decoration-line: underline;
  }
</style>
