---
import Meta from "@/components/Meta.astro";

import "@/styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <slot name="meta">
      <Meta title="Krzysztof Żuraw" />
    </slot>
  </head>
  <body class="min-h-screen bg-white">
    <div class="max-w-2xl mx-auto px-6 py-16">
      <header class="mb-12">
        <nav
          class="flex flex-col sm:flex-row sm:justify-between sm:items-center mb-6"
        >
          <a
            href="/"
            class="text-2xl font-semibold text-gray-900 mb-2 sm:mb-0 hover:opacity-70 transition-opacity"
          >
            Krzysztof Żuraw
          </a>
          <ul class="flex space-x-6">
            <li>
              <a href="/" class="hover:opacity-70 transition-opacity">Home</a>
            </li>
            <li>
              <a href="/writing" class="hover:opacity-70 transition-opacity"
                >Writing</a
              >
            </li>
            <li>
              <a href="/about" class="hover:opacity-70 transition-opacity"
                >About</a
              >
            </li>
            <li>
              <a href="/rss.xml" class="hover:opacity-70 transition-opacity"
                >RSS</a
              >
            </li>
          </ul>
        </nav>
      </header>
      <main>
        <slot name="content" />
      </main>
      <footer>
        <div class="flex space-x-6 justify-between text-sm text-gray-500 mt-6">
          &copy; Krzysztof Żuraw
          <ul class="flex gap-2">
            <li>
              <a href="https://github.com/kzuraw">GitHub</a>
            </li>
            <li>
              <a href="https://bsky.app/profile/kzuraw.com">Bluesky</a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/kzuraw">LinkedIn</a>
            </li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>
