---
import Meta from "@/components/Meta.astro";

import "@/styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <slot name="meta">
      <Meta title="Krzysztof Żuraw" />
    </slot>
  </head>
  <body>
    <header>
      <nav>
        <p>Krzysztof Żuraw</p>
        <ul role="list">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/blog">Blog</a>
          </li>
          <li>
            <a href="/rss.xml">RSS</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="flow">
      <slot name="content" />
    </main>
  </body>
</html>
